/* .navbar {
    margin: 0px !important;
    padding: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 99999 !important;
    width: 100%;
    position: fixed;
    position: sticky;
  } */

  .spinner_div{
    margin: auto;
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    text-align: center;
}